<launch>
  <!-- Load and spawn the QPController -->
  <include file="$(find linearmpc_panda)/launch/load_linearmpc_controller.launch" />

  <!-- Start the MPC Solver Node -->
  <node name="mpc_solver_node" 
        pkg="linearmpc_panda" 
        type="mpc_solver_node" 
        output="screen">
    <!-- Example parameters -->
    <!-- <param name="solver_frequency" value="100" />
    <param name="mpc_horizon" value="2.0" />
    <param name="ref_traj_path" value="$(find linearmpc_panda)/config/reference_trajectory.yaml" /> -->
  </node>

  <!-- Start the MPC Executor Node -->
  <node name="mpc_executor_node" 
        pkg="linearmpc_panda" 
        type="mpc_executor_node" 
        output="screen">
    <!-- Example parameters -->
    <!-- <param name="executor_frequency" value="1000" />
    <param name="h_mpc" value="0.04" /> -->
  </node>
</launch>