<launch>
  <arg name="arm_id" default="panda" />
  <!-- Load controller configuration -->
  <rosparam command="load" 
            file="$(find linearmpc_panda)/config/linearmpc_controller.yaml"/>
            
  <!-- Spawn controller -->
  <node name="controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        output="screen" 
        args="linearmpc_controller" />
</launch>