<?xml version="1.0" ?>
<launch>
  <!-- Initialize simulation_ready flag to false -->
  <param name="simulation_ready" value="false" />

  <!-- Simulation Node (starts immediately) -->
  <node pkg="linearmpc_panda" type="drake_state_publisher" name="drake_state_publisher" output="screen">
    <!-- <remap from="/upsampled_u_cmd_in" to="/upsampled_u_cmd_out" /> -->
    <!-- <remap from="/joint_states_out" to="/joint_states_in" /> -->
  </node>

  <!-- MPC Node (waits for simulation ready) -->
  <node pkg="linearmpc_panda" type="linearmpc_controller" name="linearmpc_controller" output="screen">
  </node>
</launch>
